*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}
img{
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.nav{
    padding: 3rem 7rem 0 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav.left h3{
    font-weight: 400;
    padding-right: 10px;

}
.nav.left h2{
    font-weight: 700;
    font-style: italic;
}
.nav.right h2{
    font-weight: 600;
    padding-right: 18px;

}
.nav.right p{
    font-size: 14px;
}
.intro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.intro .hero{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transform: translateY(100%);
}
.intro .hero .lefthero{
    width: 55%;
    padding-left: 70px;
}
.intro .hero .righthero{
    width: 40%;
}
.slider {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #18181a;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}